<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FactorAnalysis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register/style.css' %}">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<div class="alert alert-success" role="alert'">
                    <p>Analysis which factors affect people’s personal finances status</p>
                </div>
            </div>
        </div>
                    <form method="post" action="/DatesetInfo">
                        {% csrf_token %}
                    <p><strong>Step 1：Please select dataset for analysis</strong></p>

                   <select id="DatasetDropdown" name = "dropdown">

                    <option value = "{{ list }}">{{ list }}</option>

            </select>

                <div class="mx-auto text-center">
                                <input type="submit" value="select" class="btn btn-primary">
                            </div>
                        <div >
                            <p {{hiden}}>{{datasetinfo11}}<br/>
                                {{datasetinfo12}}<br/>
                                {{datasetinfo13}}<br/>
                                {{datasetinfo14}}<br/>
                                {{datasetinfo15}}<br/>
                                {{datasetinfo16}}<br/>
                                {{datasetinfo17}}<br/>
                                {{datasetinfo18}}<br/>
                                {{datasetinfo19}}<br/>
                                {{datasetinfo110}}<br/>
                                {{datasetinfo111}}<br/>
                                {{datasetinfo112}}<br/>
                                {{datasetinfo113}}<br/>
                                {{datasetinfo114}}<br/>
                                {{datasetinfo115}}<br/>
                                {{datasetinfo116}}<br/>

                            </p>
                        </div>
                    </form>

    <form method="post" action="/AnalysisScore">
                        {% csrf_token %}
                    <p><strong>Step 2：Start analysis select dataset</strong></p>



                <div class="mx-auto text-center">
                                <input type="submit" value="start analysis" class="btn btn-primary">
                            </div>
                        <div>
                            <pre>{{ScoreList}}</pre>
                            <pre>{{Conclusion1}}</pre>
                        </div>
                    </form>
    <form method="post" action="/HowFactorImpact">
                        {% csrf_token %}
                    <p><strong>Step 3：How those factor impact personal income</strong></p>
        <div class="mx-auto text-center">
                                <input type="submit" value="Show me analysis result" class="btn btn-primary">
                            </div>
        <br>
        <div {{hidden2}}>


        <img src="{{Analysisgraph1}} " width="400" height="400" />


            <p><strong>Age and Personal income relationship</strong><br>(a)	Age below 30, there are few people have ability to reach annul income above 50k <br/>
(b)	As the age range increase, the proportion of people reach 50k annul income increase. Wealth and wealth‐adjusted income generally rise with age.<br/>
(c)	Age between 35 to 50, the maximum number of people to reach 50k annul income.<br/>
(d)	The age between 50 to 90, the proportion of people reach 50k annul income increase. <br/>
(e)	However, the amount people decrease in age range between 50 to 90<br/><br/>conclusion:<br/> (1)	Age between 20 to 40 is the important period to accumulate wealth<br/>
(2)	Age above 35, most people enter the golden period to have a certain amount of wealth.<br/>
(3)	As people get older, it becomes harder to keep accumulate wealth.<br/>
</p>



         <img src={{Analysisgraph2}} width="400" height="400" />

             <br><strong>Education level and Personal income relationship</strong><br>(a)	There are 85 percent people educated over 8 years.</br>
(b)	There are very few people schooling year between 0 to 8 annual income reach 50k and above.</br>
(c)	Between 8 to 11 years schooling year, there are 12 percent people annual income over 50k. </br>
(d)	Between 11 to 13 years schooling year, there are 30 percent people annual income over 50k. </br>
             (e)	Between 13 to 16, there are 60 percent people annual income over 50k. </br> </br> conclusion:</br>Education is higher, the choice to achieve annual income reach over 50k is higher.
</p>

         <img src={{Analysisgraph4}} width="400" height="400" />

              <br><strong>marital status and Personal income relationship</strong><br>(a)	There is a very high percent of people married with spouse no matter people can reach annul income over 50k or not. </br>
(b)	In the other hand, people married with spouse is much more than never married, divorced and other status in over 50k annual income category.</br>
(c)	In annual income below 50k category, people never married and divorced take highest percentage.</br>
              (d)	However, this graph cannot show us what is cause and what is effect.</br></br>conclusion:</br> People married with spouse is much more than never married, divorced and other status in over 50k annual income category. However, this study shows us what is cause and what is effect. </br>

</p>
         <img src={{Analysisgraph5}} width="400" height="400" />

            <p><strong>Occupation and Personal income relationship</strong><br>Occupation is not determining factors in personal income. Exec-managerial and Prof-specialty are high chance good income occupation</p>

         <img src={{Analysisgraph6}} width="400" height="400" />

           <p><strong>Family relationship and Personal income relationship</strong><br>Family relationship is not determining factors in personal income. Husband is high chance to have better personal income role compare to others</p>

         <img src={{Analysisgraph7}} width="400" height="400" />

            <p><strong>Gender and Personal income relationship</strong><br>Gender is not determining factors in personal income. Male have better personal income compare to female</p>




</div>
    <form method="post" action="/PredictPage">
                        {% csrf_token %}
                    <p><strong>Predict your personal financial status</strong></p>

                <div class="mx-auto text-center">
                                <input type="submit" value="Predict" class="btn btn-primary">
                </div>
                    </form>

    </form>
</div>

</body>
</html>