<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FactorAnalysis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register/style.css' %}">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<div class="alert alert-success" role="alert'">
                    <p> Predict and Manage your Financial Status </p>
                </div>
            </div>
        </div>
    <p><strong>Part1: Base on personal information predict monthly salary</strong></p>

        <p>Age: {{age}} </br> Sex: {{sex}} </br>Education level: {{education}} </br>Location: {{location}} </br>Marital Status: {{Maritalstatus}} </br>Occupation: {{Occupation}} </br>Work per week: {{hours_per_week}} </br>Native Country: {{native_country}} </p></div>

      <form method="post" action="/PredictResult">
                        {% csrf_token %}

           <div class="mx-auto text-center">
             <input type="submit" value="start predict" class="btn btn-primary">

               <p></br>{{yourpredict}}<strong>{{predict_result}}</strong></p>
          </div></form>
<p><strong>Part2: Simulation scenario for predict salary</strong></p>

      <form method="post" action="/SimulatePredictSalary">
                        {% csrf_token %}
		  <div class="card" >
                    <h4 class="card-header text-center">Simulation Scenario</h4>

                      <div class="card-block">
						  <div class="form-group">
		                   <label>Age</label><br>
							   <input type="number"  name="age" value="27" class="form-control">
								   </div>
								  <div class="form-group">
							      <label>Education</label><br>
									  <select type="text" id="education" name = "education">

										  <option value = "Doctorate">Doctorate</option>
										  <option value = "Masters">Masters</option>
										  <option value = "Bachelors">Bachelors</option>
										  <option value = "HS-grad">High School degree</option>
										  <option value = "diploma">diploma</option>

										  <option value = "Some-college">Some college</option>
										  <option value = "Prof-school">Prof-school</option>
										  <option value = "Preschool">Pre-school</option>
										  <option value = "other">other</option>

                                       </select>

								  </div>


								 <div class="form-group">

							  <label>Location</label><br>
									 <select type="text" id="location" name = "location">
							  <option value = "Singapore">Singapore</option>
                                   </select>

						   </div>


							  <div class="form-group">

							  <label>House Information</label><br>
								  <select type="text" id="houseInfo" name = "houseInfo">
							         <option value = "house_owner">House owner</option>
									  <option value = "rent">rent</option>
									  <option value = "other">other</option>
                                   </select>

						   </div>

							  <div class="form-group">

							  <label>Marital Status</label><br>
								 <select type="text" id="Maritalstatus" name = "Maritalstatus">
                                      <option value = "Never-married">Never married</option>
									  <option value = "Married-civ-spouse">Married,civilian spouse</option>
									  <option value = "Married-AF-spouse">Married,spouse in the Armed Forces</option>
									  <option value = "Divorced">Divorced</option>
									  <option value = "Married-spouse-absent">Married, spouse absent</option>
									  <option value = "Separated">Separated</option>
									  <option value = "Widowed">Widowed</option>


                                   </select>


						     </div>



						     <div class="form-group">
							  <label>Occupation</label><br>


								  <select type="text" id="Occupation" name = "Occupation">
							        <option value = "Armed-Forces">Armed-Forces</option>
									  <option value = "Aged_Care_Workers">Aged_Care_Workers</option>
									  <option value = "Financial_or_Insurance_Services_Manager">Financial or Insurance Services Manager</option>
									  <option value = "doctor">doctor</option>
									  <option value = "Handlers-cleaners">Handlers cleaners</option>
									  <option value = "Human_Resources_Professionals ">Human Resources Professionals</option>
									  <option value = "nurse">nurse</option>
									  <option value = "Managing_Director_or_Chief_Executive_Officer ">Managing Director or Chief Executive Officer </option>
									  <option value = "Programmer">Programmer</option>
									  <option value = "Priv-house-serv">Private house service</option>
									  <option value = "Sales">Sales</option>
									  <option value = "Student">Student</option>
									  <option value = "Securities_and_Finance_Dealer_or_Broker ">Securities and Finance Dealer or Broker </option>
									  <option value = "Trade_and_Ship_Broker ">Trade and Ship Broker </option>
									  <option value = "Transport-moving">Transport moving</option>
									  <option value = "Tech-support">Technical support</option>
									  <option value = "University_Lecturer ">University Lecturer </option>

                                   </select>
							 </div>

							  <div class="form-group">

							  <label>sex</label><br>
								   <select type="text" id="sex" name = "sex">
							           <option value = "Female">Female</option>
									   <option value = "Male">Male</option>
                                   </select>

						     </div>
            		     <div class="form-group">
							  <label>hours_per_week</label><br>

								<input name="hours_per_week" value="40" class="form-control">
							 </div>

							  <div class="form-group">
								  	  <div class="form-group">


							  <label>native_country</label><br>
								   <select type="text" id="native_country" name = "native_country">
							           <option value = "Singapore">Singapore</option>
									   <option value = "England">England</option>
									   <option value = "Canada">Canada</option>
									   <option value = "China">China</option>
									   <option value = "Germany">Germany</option>
									   <option value = "France">France</option>
									   <option value = "Greece">Greece</option>
									   <option value = "India">India</option>
									   <option value = "Guatemala">Guatemala</option>
									   <option value = "Italy">Italy</option>
									   <option value = "Poland">Poland</option>
									   <option value = "Philippines">Philippines</option>
									   <option value = "Japan">Japan</option>
									   <option value = "Thailand">Thailand</option>

                                   </select>


						     </div>

           <div class="mx-auto text-center">
             <input type="submit" value="predict" class="btn btn-primary">

               <p></br>{{yourpredict_new}}<strong>{{predict_result_new}}</strong></p>
          </div>
							  </div>
					  </div>
		  </div>
	  </form>



    <p><strong>Part3: Please key in your past year networth information</strong></p>
<form method="post" action="/PredictWealth">
							   {% csrf_token %}
				<div class="card" >
                    <h4 class="card-header text-center">Networth Information</h4>

                      <div class="card-block">
                      <div class="mx-auto text-center">
							    <label style="color:red;">{{InfoNullCheck}}</label><br>
						    </div>


						  <div class="form-group">
							      <label>Networt 2013</label><br>
								<input type="number"  name="Networth_2013" value="24859" class="form-control">
								  </div>
						  <div class="form-group">
							      <label>Networt 2014</label><br>
								<input type="number"  name="Networth_2014" value="27687" class="form-control">
								  </div>
						  <div class="form-group">
							      <label>Networt 2015</label><br>
								<input type="number"  name="Networth_2015" value="27220" class="form-control">
								  </div>
						  <div class="form-group">
							      <label>Networt 2016</label><br>
								<input type="number"  name="Networth_2016" value="28815" class="form-control">
								  </div>
						  <div class="form-group">
							      <label>Networt 2017</label><br>
								<input type="number"  name="Networth_2017" value="30715" class="form-control">
								  </div>
						  <div class="form-group">
							      <label>Networt 2018</label><br>
								<input type="number"  name="Networth_2018"  class="form-control">
								  </div>
						  <div class="form-group">
							      <label>Networt 2019</label><br>
								<input type="number"  name="Networth_2019"  class="form-control">
								  </div>
						  <div class="form-group">
							      <label>Networt 2020</label><br>
								<input type="number"  name="Networth_2020"  class="form-control">
								  </div>
						   <div class="mx-auto text-center">
							     <input type="submit" value="Submit" class="btn btn-primary">
						    </div>

						  <p></br>{{yourWealthpredict}}<strong>{{predictwealth_result1}},  {{predictwealth_result2}},  {{predictwealth_result3}},  {{predictwealth_result4}},  {{predictwealth_result5}} </strong></p>
					  </div>
				</div>
</form>


						  </div>



</div>
</body>
</html>