<!DOCTYPE html>
<html lang="en">
<head>
	<title>Success</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'register/style.css' %}">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<div class="alert alert-success" role="alert'">

                        <p>Hi <strong>{{user.first_name}} {{user.last_name}}</strong>, {{pleasekeyininformation}}</p>
					 <p> <strong>{{MonthlyState}}</strong></p>
							   <p>{{MonthlyIncome}} {{Num_monthly_Income}}</p>
							   <p>{{MonthlyExpense}} {{Num_MonthlyExpense}}</p>
							   <p>{{MonthlyBalance}} {{Num_MonthlyBalance}}</p>
					<strong>  <p>{{Personal_balance_statement}}</p></strong>
							   <p>{{Asset}} {{Num_Asset}}</p>
							   <p>{{liabilities}} {{Num_liabilities}}</p>
							   <p>{{Networth}} {{Num_Networth}}</p>
					<strong>   <p>{{Suggestion}} </p></strong>
							   <p>{{Summary1}} </p>
							   <p>{{Summary2}} </p>

					  <form method="post" action="/FactorAnalysis">
						       {% csrf_token %}

                            <div class="mx-auto text-center">
                                <input type="submit" id="GoFactorAnalysis" value= "{{GoFactorAnalysis}}" class="btn btn-primary" {{hidden}}>
                            </div>
                        </form>
				</div>
			</div>
		</div>


			<form method="post" action="/userinfocollect">
							   {% csrf_token %}
				<div class="card" >
                    <h4 class="card-header text-center">User Information</h4>

                      <div class="card-block">

							  <div class="form-group">
							   <label>Age</label><br>
							   <input type="number"  name="age" value="27" class="form-control">
								   </div>
								  <div class="form-group">
							      <label>Education</label><br>
									  <select type="text" id="education" name = "education">

										  <option value = "Doctorate">Doctorate</option>
										  <option value = "Masters">Masters</option>
										  <option value = "Bachelors">Bachelors</option>
										  <option value = "HS-grad">High School degree</option>
										  <option value = "diploma">diploma</option>

										  <option value = "Some-college">Some college</option>
										  <option value = "Prof-school">Prof-school</option>
										  <option value = "Preschool">Pre-school</option>
										  <option value = "other">other</option>

                                       </select>

								  </div>


								 <div class="form-group">

							  <label>Location</label><br>
									 <select type="text" id="location" name = "location">
							  <option value = "Singapore">Singapore</option>
                                   </select>

						   </div>


							  <div class="form-group">

							  <label>House Information</label><br>
								  <select type="text" id="houseInfo" name = "houseInfo">
							         <option value = "house_owner">House owner</option>
									  <option value = "rent">rent</option>
									  <option value = "other">other</option>
                                   </select>

						   </div>

							  <div class="form-group">

							  <label>Marital Status</label><br>
								 <select type="text" id="Maritalstatus" name = "Maritalstatus">
                                      <option value = "Never-married">Never married</option>
									  <option value = "Married-civ-spouse">Married,civilian spouse</option>
									  <option value = "Married-AF-spouse">Married,spouse in the Armed Forces</option>
									  <option value = "Divorced">Divorced</option>
									  <option value = "Married-spouse-absent">Married, spouse absent</option>
									  <option value = "Separated">Separated</option>
									  <option value = "Widowed">Widowed</option>


                                   </select>


						     </div>



						     <div class="form-group">
							  <label>Occupation</label><br>


								  <select type="text" id="Occupation" name = "Occupation">
							        <option value = "Armed-Forces">Armed-Forces</option>
									  <option value = "Aged_Care_Workers">Aged_Care_Workers</option>
									  <option value = "Financial_or_Insurance_Services_Manager">Financial or Insurance Services Manager</option>
									  <option value = "doctor">doctor</option>
									  <option value = "Handlers-cleaners">Handlers cleaners</option>
									  <option value = "Human_Resources_Professionals ">Human Resources Professionals</option>
									  <option value = "nurse">nurse</option>
									  <option value = "Managing_Director_or_Chief_Executive_Officer ">Managing Director or Chief Executive Officer </option>
									  <option value = "Programmer">Programmer</option>
									  <option value = "Priv-house-serv">Private house service</option>
									  <option value = "Sales">Sales</option>
									  <option value = "Student">Student</option>
									  <option value = "Securities_and_Finance_Dealer_or_Broker ">Securities and Finance Dealer or Broker </option>
									  <option value = "Trade_and_Ship_Broker ">Trade and Ship Broker </option>
									  <option value = "Transport-moving">Transport moving</option>
									  <option value = "Tech-support">Technical support</option>
									  <option value = "University_Lecturer ">University Lecturer </option>

                                   </select>
							 </div>

							  <div class="form-group">

							  <label>sex</label><br>
								   <select type="text" id="sex" name = "sex">
							           <option value = "Female">Female</option>
									   <option value = "Male">Male</option>
                                   </select>

						     </div>


						     <div class="form-group">
							  <label>hours_per_week</label><br>

								<input name="hours_per_week" value="40" class="form-control">
							 </div>

							  <div class="form-group">


							  <label>native_country</label><br>
								   <select type="text" id="native_country" name = "native_country">
							           <option value = "Singapore">Singapore</option>
									   <option value = "England">England</option>
									   <option value = "Canada">Canada</option>
									   <option value = "China">China</option>
									   <option value = "Germany">Germany</option>
									   <option value = "France">France</option>
									   <option value = "Greece">Greece</option>
									   <option value = "India">India</option>
									   <option value = "Guatemala">Guatemala</option>
									   <option value = "Italy">Italy</option>
									   <option value = "Poland">Poland</option>
									   <option value = "Philippines">Philippines</option>
									   <option value = "Japan">Japan</option>
									   <option value = "Thailand">Thailand</option>

                                   </select>


						     </div>




				            <div class="form-group">
							   <p style="font-family:verdana">------Monthly Income-----</p>

						     </div>

						     <div class="form-group">
							  <label>Monthy Salary</label><br>
								 <input type="number" id="monthySalary" name="monthySalary" value="4000" class="form-control" >
							 </div>


						     <div class="form-group">
							  <label>Other Monthly Income</label><br>

							  <input type="number" id="OtherMonthlyIncome" name="OtherMonthlyIncome" value="2000" class="form-control">
						     </div>


						     <div class="form-group">
        					   <p style="font-family:verdana">---------Assets-------</p>

						     </div>

						     <div class="form-group">
							  <label>Saving Balance</label><br>
							  <input type="number" id="SavingBalance" name="SavingBalance" value="50000" class="form-control">
						     </div>

						     <div class="form-group">
							  <label>Investment</label><br>
							  <input type="number" id="Investment" name="Investment" value="20000" class="form-control">
						     </div>


						     <div class="form-group">
							   <label>Property</label><br>
							   <input type="number" id="Property" name="Property" value="20000" class="form-control">
						     </div>

						  <div class="form-group">
		                     <p style="font-family:verdana">---------Liabilities-------</p>

						     </div>



					    	<div class="form-group">
							  <label>Credit Card Liabilities</label><br>
							  <input type="number" id="CreditCardLiabilities" name="CreditCardLiabilities" value="20000" class="form-control">
						    </div>

						    <div class="form-group">
						    	<label>Home Mortgage</label><br>
						    	<input type="number" id="HomeMortgage" name="HomeMortgage" value="30000" class="form-control">
						    </div>


						    <div class="form-group">
							   <label>Other Loan</label><br>
							   <input type="number" id="OtherLoan" name="OtherLoan" value="20000" class="form-control" >
						    </div>


							  <div class="form-group">
							    <p style="font-family:verdana">---------Monthly Spend-------</p>
						      </div>
							  <div class="form-group">
							    <label>Food Spend</label><br>
							    <input type="number" id="Foodspend" name="Foodspend" value="500" class="form-control">
						     </div>
						     <div class="form-group">
						     	<label>Clothing Spend</label><br>
							    <input type="number" id="clothingspend" name="clothingspend" value="400" class="form-control">
						    </div>
					    	<div class="form-group">
							   <label>Shopping</label><br>
							   <input type="number" id="shopping" name="shopping" value="600" class="form-control">
						    </div>
						    <div class="form-group">
							   <label>Accommodation</label><br>
							   <input type="number" id="accommodation" name="accommodation" value="1000" class="form-control">
						    </div>
						    <div class="form-group">
							    <label>Transport</label><br>
							    <input type="number" id="Transport" name="Transport" value="300" class="form-control">
						    </div>
						    <div class="form-group">
							    <label>Others Monthly Spend</label><br>
							    <input type="number" id="othersMonthlyspend" name="othersMonthlyspend" value="1000" class="form-control">
						    </div>
						    <div class="mx-auto text-center">
							     <input type="submit" value="submit" class="btn btn-primary">
						    </div>
						    <div class="mx-auto text-center">
							    <label>{{InfoSaveMassage}}</label><br>
						    </div>

				</div>
				</div>
					</form>
				</div>
</body>

</html>